html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f3f3f3;
}

section {
  vertical-align: middle;
  padding: 1rem;
  text-align: center;
}

.img {
  max-width: 25em;
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
  text-align: left;
}

img {
  width: 100%;
  display: block;
}

.right {
  display: inline-block;
  max-width: 25em;
  padding: 5px;
  vertical-align: middle;
  text-align: left;
}

h2 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 30px;
}

p {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 30px;
}

.btn {
  border: 3px solid #333;
  padding: 0.4em 0.75em 0.3em;
  text-decoration: none;
  border-radius: 8px;
  color: black;
  font-size: 1.125rem;
  display: inline-block;
}

.btn-ghost {
  background-color: transparent;
  color: #333;
}

.btn-ghost:hover {
  background-color: #ccc;
}
